

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>editgrade</title>
</head>
<body>
    <div>
        <form action="update" method="post">

            <br />
            user name (sid): <input id="Text1" type="text" name="username" required/>

            <br />
            cid: <input id="Text1" type="number" name="cid" required />

            <br />
            new_grade <input id="Text1" type="text" name="grade" required />

            <br />
            update : @Html.RadioButton("update", "u")
            <br />
            insert: @Html.RadioButton("update", "i")

            <br />



            <input id="Submit1" type="submit" value="update" />

            <br />

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        </form>

    </div>
</body>
</html>
